In [1]:
import pandas as pd
import sqlalchemy as sql
import pandas as pd
from config import password
from config import connection

In [2]:
sql_connection=(f'postgresql://postgres:{password}@{connection}:5432/postgres')

In [3]:
engine=sql.create_engine(sql_connection)

In [4]:
engine.table_names()

C:\Users\erica\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

['crime_dataset']

In [6]:
df=pd.read_csv('combined_df.csv')
df

,Unnamed: 0,med_age_weight,med_income_weight,month_housing_costs_weight,total_pop,med_age,med_income,month_housing_costs,Against Family/Child,Aggravated Assault,...,Prostitution/Allied,Rape,Receive Stolen Property,Robbery,Sex (except rape/prst),Vehicle Theft,Weapon (carry/poss),General Mental Health Program,General Mental Health Resource,Substance Abuse Program
0,90001,2549743.7,1.859720e+09,109830976.0,85439.0,29.842855,21766.634979,1285.489952,3.0,24.0,...,NaN,NaN,3.0,7.0,NaN,23.0,18.0,2.0,2.0,1.0
1,90002,1937620.4,1.426340e+09,93298147.0,67896.0,28.538064,21007.714563,1374.133189,15.0,87.0,...,NaN,NaN,4.0,25.0,NaN,35.0,73.0,1.0,4.0,1.0
2,90003,4043026.2,3.031933e+09,188588435.0,139506.0,28.981020,21733.352902,1351.830280,29.0,267.0,...,160.0,5.0,11.0,68.0,29.0,171.0,178.0,2.0,6.0,1.0
3,90004,2865510.3,2.653570e+09,134322386.0,79367.0,36.104556,33434.173473,1692.421107,7.0,95.0,...,44.0,1.0,3.0,9.0,2.0,21.0,20.0,NaN,5.0,NaN
4,90005,2756055.6,2.265993e+09,118253352.0,74974.0,36.760152,30223.711860,1577.258143,8.0,61.0,...,NaN,1.0,1.0,13.0,4.0,19.0,5.0,2.0,12.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455,93584,168700.7,7.299566e+07,3138422.0,4207.0,40.100000,17351.000000,746.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
456,93586,415253.5,4.004616e+08,16926589.0,11010.0,37.716031,36372.533969,1537.383197,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
457,93590,128363.3,1.101909e+08,4915482.0,4381.0,29.300000,25152.000000,1122.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
458,93591,630425.9,4.298193e+08,18347515.0,16383.0,38.480492,26235.687359,1119.911799,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
459,93599,0.0,0.000000e+00,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df = df.rename(columns={'Unnamed: 0':'Zip'})
df

,Zip,med_age_weight,med_income_weight,month_housing_costs_weight,total_pop,med_age,med_income,month_housing_costs,Against Family/Child,Aggravated Assault,...,Prostitution/Allied,Rape,Receive Stolen Property,Robbery,Sex (except rape/prst),Vehicle Theft,Weapon (carry/poss),General Mental Health Program,General Mental Health Resource,Substance Abuse Program
0,90001,2549743.7,1.859720e+09,109830976.0,85439.0,29.842855,21766.634979,1285.489952,3.0,24.0,...,NaN,NaN,3.0,7.0,NaN,23.0,18.0,2.0,2.0,1.0
1,90002,1937620.4,1.426340e+09,93298147.0,67896.0,28.538064,21007.714563,1374.133189,15.0,87.0,...,NaN,NaN,4.0,25.0,NaN,35.0,73.0,1.0,4.0,1.0
2,90003,4043026.2,3.031933e+09,188588435.0,139506.0,28.981020,21733.352902,1351.830280,29.0,267.0,...,160.0,5.0,11.0,68.0,29.0,171.0,178.0,2.0,6.0,1.0
3,90004,2865510.3,2.653570e+09,134322386.0,79367.0,36.104556,33434.173473,1692.421107,7.0,95.0,...,44.0,1.0,3.0,9.0,2.0,21.0,20.0,NaN,5.0,NaN
4,90005,2756055.6,2.265993e+09,118253352.0,74974.0,36.760152,30223.711860,1577.258143,8.0,61.0,...,NaN,1.0,1.0,13.0,4.0,19.0,5.0,2.0,12.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455,93584,168700.7,7.299566e+07,3138422.0,4207.0,40.100000,17351.000000,746.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
456,93586,415253.5,4.004616e+08,16926589.0,11010.0,37.716031,36372.533969,1537.383197,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
457,93590,128363.3,1.101909e+08,4915482.0,4381.0,29.300000,25152.000000,1122.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
458,93591,630425.9,4.298193e+08,18347515.0,16383.0,38.480492,26235.687359,1119.911799,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
459,93599,0.0,0.000000e+00,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460 entries, 0 to 459
Data columns (total 38 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Zip                             460 non-null    int64
 1   med_age_weight                  449 non-null    float64
 2   med_income_weight               449 non-null    float64
 3   month_housing_costs_weight      449 non-null    float64
 4   total_pop                       449 non-null    float64
 5   med_age                         447 non-null    float64
 6   med_income                      447 non-null    float64
 7   month_housing_costs             447 non-null    float64
 8   Against Family/Child            95 non-null     float64
 9   Aggravated Assault              117 non-null    float64
 10  Burglary                        108 non-null    float64
 11  Disorderly Conduct              41 non-null     float64
 12  Disturbing the Peace            9 non-null      float64
 13  Driving Under Influence         116 non-null    float64
 14  Drunkeness                      30 non-null     float64
 15  Federal Offenses                14 non-null     float64
 16  Forgery/Counterfeit             50 non-null     float64
 17  Fraud/Embezzlement              85 non-null     float64
 18  Gambling                        7 non-null      float64
 19  Homicide                        69 non-null     float64
 20  Larceny                         109 non-null    float64
 21  Liquor Laws                     5 non-null      float64
 22  Miscellaneous Other Violations  119 non-null    float64
 23  Moving Traffic Violations       104 non-null    float64
 24  Narcotic Drug Laws              115 non-null    float64
 25  Non-Criminal Detention          18 non-null     float64
 26  Other Assaults                  118 non-null    float64
 27  Pre-Delinquency                 2 non-null      float64
 28  Prostitution/Allied             49 non-null     float64
 29  Rape                            63 non-null     float64
 30  Receive Stolen Property         74 non-null     float64
 31  Robbery                         110 non-null    float64
 32  Sex (except rape/prst)          86 non-null     float64
 33  Vehicle Theft                   109 non-null    float64
 34  Weapon (carry/poss)             111 non-null    float64
 35  General Mental Health Program   139 non-null    float64
 36  General Mental Health Resource  206 non-null    float64
 37  Substance Abuse Program         51 non-null     float64
dtypes: float64(37), int64(1)
memory usage: 136.7 KB

In [ ]:
# Against Family/Child         
#   Aggravated Assault            
#  Burglary                        
#  Disorderly Conduct           
#  Disturbing the Peace           
#  Driving Under Influence        
#  Drunkeness                      
#  Federal Offenses               
#  Forgery/Counterfeit             
#  Fraud/Embezzlement              
#  Gambling                        
#  Homicide                        
#  Larceny                         
#  Liquor Laws                    
#  Miscellaneous Other Violations 
#  Moving Traffic Violations       
#  Narcotic Drug Laws              
#  Non-Criminal Detention         
#  Other Assaults                  
#  Pre-Delinquency                 
#  Prostitution/Allied             
#  Rape                            
#  Receive Stolen Property         
#  Robbery                         
#  Sex (except rape/prst)        
#  Vehicle Theft                  
#  Weapon (carry/poss)

In [10]:
columns_to_sum = ['Against Family/Child','Aggravated Assault','Burglary','Disorderly Conduct','Disturbing the Peace','Driving Under Influence','Drunkeness','Federal Offenses','Forgery/Counterfeit','Fraud/Embezzlement','Gambling','Homicide','Larceny','Liquor Laws','Miscellaneous Other Violations','Moving Traffic Violations','Narcotic Drug Laws','Non-Criminal Detention','Other Assaults','Pre-Delinquency','Prostitution/Allied','Rape','Receive Stolen Property','Robbery','Sex (except rape/prst)','Vehicle Theft','Weapon (carry/poss)']

df['Total_Crimes'] = df[columns_to_sum].sum(axis=1)
df

,Zip,med_age_weight,med_income_weight,month_housing_costs_weight,total_pop,med_age,med_income,month_housing_costs,Against Family/Child,Aggravated Assault,...,Rape,Receive Stolen Property,Robbery,Sex (except rape/prst),Vehicle Theft,Weapon (carry/poss),General Mental Health Program,General Mental Health Resource,Substance Abuse Program,Total_Crimes
0,90001,2549743.7,1.859720e+09,109830976.0,85439.0,29.842855,21766.634979,1285.489952,3.0,24.0,...,NaN,3.0,7.0,NaN,23.0,18.0,2.0,2.0,1.0,169.0
1,90002,1937620.4,1.426340e+09,93298147.0,67896.0,28.538064,21007.714563,1374.133189,15.0,87.0,...,NaN,4.0,25.0,NaN,35.0,73.0,1.0,4.0,1.0,452.0
2,90003,4043026.2,3.031933e+09,188588435.0,139506.0,28.981020,21733.352902,1351.830280,29.0,267.0,...,5.0,11.0,68.0,29.0,171.0,178.0,2.0,6.0,1.0,1695.0
3,90004,2865510.3,2.653570e+09,134322386.0,79367.0,36.104556,33434.173473,1692.421107,7.0,95.0,...,1.0,3.0,9.0,2.0,21.0,20.0,NaN,5.0,NaN,464.0
4,90005,2756055.6,2.265993e+09,118253352.0,74974.0,36.760152,30223.711860,1577.258143,8.0,61.0,...,1.0,1.0,13.0,4.0,19.0,5.0,2.0,12.0,1.0,274.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455,93584,168700.7,7.299566e+07,3138422.0,4207.0,40.100000,17351.000000,746.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
456,93586,415253.5,4.004616e+08,16926589.0,11010.0,37.716031,36372.533969,1537.383197,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
457,93590,128363.3,1.101909e+08,4915482.0,4381.0,29.300000,25152.000000,1122.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
458,93591,630425.9,4.298193e+08,18347515.0,16383.0,38.480492,26235.687359,1119.911799,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
459,93599,0.0,0.000000e+00,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [11]:
df.to_sql('crime_dataset',con=engine,if_exists='replace',index=False)

In [12]:
df.to_csv('test.csv',index=False)